<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gestorvalidade.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Gestor de Validade</name>
    <description>
        Aplicativo para gestão de validades de produtos
    </description>
    <author email="admin@gestorvalidade.com" href="https://gestorvalidade.com">
        Gestor de Validade Team
    </author>
    <content src="login.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <!-- Permitir navegação para qualquer URL -->
    <allow-navigation href="*" />
    
    <!-- Configurações para Android -->
    <platform name="android">
        <allow-intent href="market:*" />
        
        <!-- Configurações de rede -->
        <config-file target="res/xml/network_security_config.xml" parent="/">
            <network-security-config>
                <domain-config cleartextTrafficPermitted="true">
                    <domain includeSubdomains="true">localhost</domain>
                    <domain includeSubdomains="true">192.168.1.1</domain>
                    <domain includeSubdomains="true">192.168.0.1</domain>
                    <domain includeSubdomains="true">10.0.0.1</domain>
                </domain-config>
            </network-security-config>
        </config-file>
        
        <!-- Permitir tráfego HTTP -->
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:networkSecurityConfig="@xml/network_security_config" 
                        android:usesCleartextTraffic="true" />
        </edit-config>
        
        <!-- Permissões de rede -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        </config-file>
    </platform>
    
    <!-- Configurações para iOS -->
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        
        <!-- Permitir conexões HTTP -->
        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
                <key>NSAllowsArbitraryLoadsInWebContent</key>
                <true/>
            </dict>
        </config-file>
    </platform>
    
    <!-- Plugins essenciais -->
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-network-information" spec="^3.0.0" />
    
    <!-- Configurações de segurança -->
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="33" />
    
    <!-- CSP Meta Tag é definida nos arquivos HTML -->
</widget>